.features__item{
    max-width: 28%;
    &-img{
        padding-bottom: 52px;

    }
    &-title{
        font-family: $secondary-font;
        color: $primary-color-100;
        font-style: Bold;
        font-size: 25px;
        padding-bottom: 13px;

    }
    &-text{
        color: $primary-color-100;
    }
}