include ../mixins/features__item

section.container
    .features
        p.features__features F E A T U R E S 
        h3.features__slogan Food With A New Passion 
        .features__items 
            +features__item("./assets/imgs/house.svg","Quality Food","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")
            +features__item("./assets/imgs/courier.svg","Food Delivery","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")
            +features__item("./assets/imgs/smiley.svg","Super Taste","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")




            