section.color 
    .container 
        .footer 
            .footer__contact 
                a(href="index.html") 
                    img(src="./assets/imgs/logo2.png", alt="logo")
                a(href="www.companyname.com" target="_blank") www.company name.com
                a(href="mailto: companyname@gmail.com")  companyname@gmail.com
                a(href="tel: +7 485-118-03-25")  Phone: +7 485-118-03-25
            .footer__info
                .footer__column 
                    a(href="index.html") 
                        span.footer__menu Home            
                    a(href="#")  Landingpage
                    a(href="#")  Documentation
                    a(href="#")  Referral Program
                    a(href="#")  UI & UX Design
                    a(href="#")  Web Design
                .footer__column 
                    a(href="#") 
                        span.footer__menu Menu            
                    a(href="#")  Landingpage
                    a(href="#")  Documentation
                    a(href="#")  Referral Program
                    a(href="#")  UI & UX Design
                    a(href="#")  Web Design
                .footer__column 
                    a(href="#") 
                        span.footer__menu Company            
                    a(href="#")  Landingpage
                    a(href="#")  Documentation
                    a(href="#")  Referral Program
                    .footer__media 
                        a(href="www.instagram.com" target="_blank")  
                            img(src="./assets/imgs/instagram.png", alt="instargam" target="_blank")
                        a(href="www.facebook.com") 
                            img(src="./assets/imgs/facebook.png", alt="facebook" target="_blank")
                        a(href="www.twitter.com") 
                            img(src="./assets/imgs/twitter.png", alt="twitter" target="_blank")
                        a(href="www.youtube.com") 
                            img(src="./assets/imgs/youtube.png", alt="youtube" target="_blank")
                        

