section.container
    .fs
        .fs__block 
            h1.fs__title Making time a good time by making food the good food.             
            p.fs__text There are many things are needed to start the Fast Food 
                |Business. You need not only Just Food Stalls with Persons but 
                |also specialized equipment,
            .fs__buttons
                button.fs__btn1 Order Now 
                button.fs__btn2 Food Details
        .fs__img
            img(src="./assets/imgs/burgers2.png", alt="Pan")