extends layout/layout
include mixins/item
block main  
    - var title = "Заголовок секция";
    h4=title
    
    +item("./assets/imgs/kak-zastavit-01.jpeg", "Заголовок<b>наш</b>")
    +item()
    +item()

 

