// основной шрифт
$primary-font: 'Roboto', sans-serif;

// дополнительный шрифт
$secondary-font: 'Philosopher', sans-serif;

// основной цвет текста
$primary-color-70: rgba(21, 12, 1, 0.7);
$primary-color-60: rgba(21, 12, 1, 0.6);
$primary-color-100: rgba(21, 12, 1, 1);


// дополнительный цвет текста
$secondary-color: #FFFFFF;
$orange-color: #DC780B;

// основной цвет фона
$primary-background: #FFFFFF;

// дополнительный цвет фона
$secondary-background: #252525;
$orange-background: #DC780B;

